.cleaning {
    position: relative;
}

.cleaning-img{
    text-align: center;
    padding: 50px 0px;
}

.cleaning-content {
    position: relative;
    padding : 15px 0px 0px;

    ul {
        margin-bottom: 30px;

        li {
            margin-bottom: 20px;
            margin-left  : 40px;

            i {
                background     : $primary;
                color          : $white;
                padding        : 5px;
                display        : inline-block;
                line-height    : 1;
                border-radius  : 5px;
                // margin-right: 10px;
                position       : absolute;
                left           : 0;
            }

        }
    }
}
