
.social-distance-img{
    text-align: center;
    padding: 50px 0px;
}
.social-distance-content {
    margin-top: 50px;
    ul {
        margin-bottom: 30px;
        position: relative;

        li {
            margin-bottom: 20px;
            margin-left  : 40px;

            i {
                background     : $primary;
                color          : $white;
                padding        : 5px;
                display        : inline-block;
                line-height    : 1;
                border-radius  : 5px;
                // margin-right: 10px;
                position       : absolute;
                left           : 0;
            }

        }
    }
}
